/* Estilo para el fondo púrpura específico de la barra de navegación */
.navbar {
    background-color: #8174A0 !important; /* Sobrescribimos el color de fondo de Bulma */
  }
  
  /* Estilo para el texto de los enlaces en la barra */
  .navbar .navbar-item {
    color: white !important; /* Sobrescribimos el color de texto de Bulma */
    font-weight: bold;
  }
  
  .navbar .navbar-item:hover {
    color: #dcdcdc !important; /* Color gris claro al pasar el cursor */
  }
  
  /* Estilo para los botones en la barra de navegación */
  .navbar .button.is-primary {
    background-color: #522C5D !important; /* Púrpura oscuro para botón primario */
    border-color: #8174A0 !important;
    color: white !important;
  }
  
  .navbar .button.is-primary:hover {
    background-color: #2c0c35 !important; /* Color más oscuro al pasar el cursor */
    border-color: #522C5D !important;
  }
  
  .navbar .button.is-light {
    background-color: #ffe3d8 !important;
    color: #574386 !important; /* Tono púrpura especificado */
    border-color: #845162 !important;
  }
  
  .navbar .button.is-light:hover {
    background-color: #ffffff !important; /* Gris claro al pasar el cursor */
    color: #5e1a8a !important;
    border-color: #040106 !important;
  }
  
  /* Estilo para el menú desplegable en dispositivos móviles */
  .navbar-burger {
    color: white !important;
  }
  
  .navbar-burger.is-active {
    color: #dcdcdc !important; /* Gris claro cuando está activo */
  }
  
  /* Animación suave al abrir/cerrar el menú */
  .navbar-menu {
    transition: max-height 0.2s ease-in-out;
  }
  