html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.timeline-container {
  margin: 0;
  padding: 20px 0;
  min-height: 100vh; /* Asegura que ocupe al menos la altura de la ventana */
  background-image: url('./images/galaxy.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: repeat-y;
  font-family: Arial, sans-serif;
  filter: brightness(0.7);
}

.timeline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
}

.timeline {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: relative;
  z-index: 1;
  overflow-x: auto;
}

.timeline-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  cursor: pointer;
  position: relative;
  padding: 20px;
  border-radius: 15px;
  z-index: 2;
}

.timeline-item .level-image {
  width: 200px;
  height: 160px;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.timeline-item.selected .level-image {
  transform: scale(1.2);
}

.timeline-item:hover .level-image {
  transform: scale(1.1);
}

.timeline-item .label {
  font-size: 14px;
  color: white;
  text-align: center;
}

@media (max-width: 1012px) {
  .timeline-container {
    background-attachment: scroll;
    padding-top: 50px;
  }

  .timeline {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .timeline-item {
    margin: 20px 0;
  }

  .timeline-item .level-image {
    width: 150px;
    height: 120px;
  }
}

@media (min-width: 1013px) {
  .timeline {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .timeline-item .level-image {
    width: 200px;
    height: 160px;
  }
}
